# MONGODB_USER=
# MONGODB_PASSWORD=

# DATABASE_URL="mongodb+srv://${MONGODB_USER}:${MONGODB_PASSWORD}@transaction.rhxpwzn.mongodb.net/transaction?retryWrites=true&w=majority&appName=TRANSACTION"


# DATABASE_URL= "mongodb+srv://root:r3F69Ii0QPvqu9LG@transactions.idfuzbg.mongodb.net/transactions?retryWrites=true&w=majority&appName=transactions"

DATABASE_URL="postgres://myuser:mypassword@localhost:5432/mydatabase"
